
<style>
    .team_recruit_btn_list span {
        cursor: pointer;
    }
    .tab_content {
        width: 100%;
    }
</style>
<!-- 모집공고 관리 -->
<div class="team_mgmt_content" data-group="recruit">
    <form method="POST" action="{% url 'core:update_team' team.pk %}" enctype="multipart/form-data" novalidate>
        <div class="form_header">
            <div class="header_text">
                <h3>모집공고를 선택해주세요.</h3>
                <span>모집공고를 생성하거나 수정하고 지원자를 확인하여 팀원에 추가합니다</span>
                <div class="team_recruit_wrapper">
                    {% for recruit in team.find_member.all %}
                    <div class="team_recruit_item">
                        <h4 class="team_recruit_title">{{recruit.title}}</h4>
                        <span>{{recruit.get_career_display}} {{recruit.manpower}}명 /
                            {{recruit.registered_user.all.count}}명 지원</span>
                        <div class="team_recruit_btn_list">
                            <a href="{% url 'core:update_recruit' recruit.pk %}" class="team_recruit_modify recruit_btn" data-recruit="{{recruit.pk}}" data-popup="popup_recruit">공고수정</a>
                            <span class="team_recruit_applicants popup_btn recruit_btn" data-recruit="{{recruit.pk}}" data-popup="popup_applicant">지원확인</span>
                            <span class="team_recruit_delete recruit_btn">공고삭제</span>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="team_recruit_item">
                        <h1 class="team_recruit_create">+</h1>
                        <h4 class="team_recruit_title">새로운 공고 만들기</h4>
                        <span>새로운 모집공고를 생성합니다</span>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>


<div class="popup_wrapper popup_applicant hidden">
    <div class="popup_bg"></div>
    <div class="popup_window">
        지원자 페이지입니다.
    </div>
</div>

<script>



</script>