{% extends "index.html" %}

{% block title %}
팀 생성
{% endblock %}

{% block style %}
<style>
    .make_team_wrapper {
        padding: 2rem 1rem;
    }

    .box {
        border: 1px solid #efefef;
        background-color: #ffffff;
        box-shadow: 0px 0px 30px #eee;
        width: 1280px;
        margin: auto;
    }

    .form_header {
        border-bottom: 1px solid #efefef;
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form_header h3 {
        font-weight: 600;
        font-size: 1.2rem;
    }

    .form_header span {
        font-size: .8rem;
        color: gray;
    }

    .form_content {
        padding: 0 2rem;
    }

    .form_control {
        margin: 1rem 0;
    }

    .team_input {
        margin-left: 2rem;
        width: 480px;
        height: 48px;
        border: none;
        border-bottom: 1px solid #efefef;
        padding: .5rem;
        font-size: 1rem;
        font-weight: 300;
        outline: none;
    }

    .form_label {
        font-size: 1rem;
        font-weight: 300;
    }

    .django-ckeditor-widget {
        width: 100%;
        margin-top: 1rem;
    }

    .btn {
        cursor: pointer;
        padding: .5rem 2rem;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 300;
        background-color: gray;
    }

    .register_team {
        background-color: #0099cc;
        border: none;
    }

    .form_control select {
        margin-left: 2rem;
        width: 480px;
        height: 48px;
        border: none;
        border-bottom: 1px solid #efefef;
        padding: .5rem;
        font-size: 1rem;
        font-weight: 300;
        outline: none;
    }

    .form_control input[type='file'] {
        display: none;
    }

    .upload_label {
        background-color: #0099ee;
        padding: .3rem 1.2rem;
        font-size: .8rem;
        border-radius: 4px;
        color: white;
        margin-left: 2rem;
    }

    .form_control #text {
        display: none;
    }
</style>
{% endblock %}

{% block header_content %}

{% endblock %}

{% block content %}

<div class="make_team_wrapper">
    <div class="form_wrapper box">
        <form method="POST"
            action="{% if posting_type == 'create' %}{% url 'core:make_team' %}{% else  %}{% url 'core:update_team' team.pk %}{% endif %}"
            enctype="multipart/form-data">
            <div class="form_header">
                <div class="header_text">
                    <h3>새로운 팀 만들기</h3>
                    <span>아래 정보를 기입하여 새로운 팀을 생성합니다.</span>
                </div>
                <div class="btn_list">
                    <a class="btn back_to_list">돌아가기</a>
                    <input type="submit" class="btn register_team" value="등록하기">
                </div>
            </div>
            <div class="form_content">
                {% csrf_token %}
                <div class="form_control">
                    <label class="form_label" for="team_name">팀 이름</label>
                    <!-- <input class="team_input" id="team_name" type="text" placeholder="팀 이름을 입력해주세요. (최대 20자)"> -->
                    {{form.name}}
                </div>
                <div class="form_control">
                    <label class="form_label" for="team_desc">팀 소개</label>
                    <!-- <input class="team_input" id="team_desc" type="text" placeholder="짧은 소개문구를 입력해주세요. (최대 50자)"> -->
                    {{form.short_description}}
                </div>
                <div class="form_control">
                    <label class="form_label" for="id_purpose">팀 목표</label>
                    {{form.purpose}}
                </div>
                <div class="form_control">
                    <span class="form_label">팀 로고</span>
                    <label class="upload_label" for="id_logo">업로드 (200x200)</label>
                    {{form.logo}}
                </div>
                <div class="form_control">
                    <span class="form_label">팀 배너</span>
                    <label class="upload_label" for="id_team_banner">업로드 (1280x480)</label>
                    {{form.team_banner}}
                </div>
                <div class="form_control">
                    <h4 class="form_label" class="form_label">팀 소개</h4>
                    {{form.media}}
                    {{form.team_detail|safe}}
                </div>

            </div>
        </form>
    </div>

</div>

<script>
    let url = ""
</script>
{% endblock %}