{% extends "index.html" %}

{% block title %}
{{team.name}}
{% endblock %}

{% block style %}
<style>
    .main_contents {
        background-color: #ffffff;
    }

    .team_wrapper {
        padding: 0rem 2rem;
        width: 1280px;
        margin: auto;
    }

    .team_wrapper>img {
        width: 100%;
    }

    .team_name span {
        font-size: .9rem;
        color: gray;
        font-weight: 300;
    }

    .team_header {
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .team_mgmt {
        background-color: #0C7BB3;
        color: white;
        padding: .5rem 2rem;
        border-radius: 4px;
    }

    .name_desc span {
        font-weight: 300;
    }

    .member_and_notice {
        padding: 1rem 0;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        display: flex;
    }

    .team_members {
        padding-right: 2rem;
        border-right: 1px solid #efefef;
        min-width: 450px;
    }

    .team_members h4 {
        font-weight: 500;
        display: block;
    }

    .member_list {
        margin-top: 1rem;
        display: flex;
        align-items: center;
    }

    .member_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        font-size: .8rem;
        font-weight: 300;
    }

    .member_item img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }

    .find_members {
        padding-left: 2rem;
    }

    .team_detail {
        margin: 2rem 0;
    }

    .check_notice {
        margin-top: 1rem;
        background-color: #2b2b2b;
        color: white;
        font-size: .9rem;
        font-weight: 500;
        text-align: center;
        padding: .8rem;
        border-radius: 4px;
        cursor: pointer;
    }

    .check_notice:hover {
        background-color: pink;
        color: #2b2b2b;
    }
</style>

{% endblock %}

{% block header_content %}

{% endblock %}

{% block content %}

<div class="team_wrapper">
    <img src="{{team.team_banner.url}}">
    <div class="team_header">
        <div class="name_desc">
            <h2 class="team_name">{{team.name}} <span>({{team.get_purpose_display}})</span></h2>
            <span>{{team.short_description}}</span>
        </div>
        {% if authority %}
        <a href="{% url 'core:team_management' team.pk %}" class="btn team_mgmt">팀 관리</a>
        {%endif%}
    </div>
    <div class="member_and_notice">
        <div class="team_members">
            <h4>현재 팀원 ({{team_org.count}}명)</h4>
            <div class="member_list">
                {% load mptt_tags %}
                {% recursetree team_org %}
                <a href="{% url 'member:member_info' node.user.pk %}" class="member_item">
                    <img src="{{node.user.profile.picture.url}}">
                    <span>{{node.user.profile.name}}</span>
                    <span>({{node.position}})</span>
                </a>
                {% if not node.is_leaf_node %}
                {{children}}
                {% endif %}
                {% endrecursetree %}
            </div>
        </div>
        <div class="find_members">
            <h4>모집 공고</h4>
            <span>모집중인 공고가 {{team.find_member.all.count}}개 있습니다.</span>
            <h4 class="check_notice career_info" data-team="{{team.id}}">모집공고 확인하기</h4>
        </div>
    </div>

    <div class="team_detail">
        {{team.team_detail|safe}}
    </div>

</div>

<div class="popup_wrapper hidden">
    <div class="popup_bg"></div>
    <div class="popup_window">
        <div class="career_header">
            <div>
                <h4>FindMate팀의 모집공고</h4>
                <span>아직 모집중인 공고가 없습니다.</span>
            </div>
            <span class="close_btn"><i class="far fa-times-circle"></i>닫기</span>
        </div>
        <div class="career_tab">
            <div class="tab_left">
                <ul>
                    <li>
                        <h5></h5><span></span>
                    </li>
                </ul>
            </div>
            <div class="tab_content">

            </div>
        </div>
    </div>
</div>


<!-- 모집공고 팝업 -->
<script type="text/javascript" src="/static/js/team_notice.js"></script>


{% endblock %}