{% extends "index.html" %}

{% block title %}
{{team.name}}
{% endblock %}

{% block style %}
<style>
    .main_contents {
        background-color: #ffffff;
    }

    .team_wrapper {
        padding: 0rem 2rem;
        width: 1280px;
        margin: auto;
    }

    .team_wrapper>img {
        width: 100%;
    }

    .team_name span {
        font-size: .9rem;
        color: gray;
        font-weight: 300;
    }

    .team_header {
        padding: 1rem 0;
    }

    .name_desc span {
        font-weight: 300;
    }

    .member_and_notice {
        padding: 1rem 0;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        display: flex;
    }

    .team_members {
        padding-right: 2rem;
        border-right: 1px solid #efefef;
        min-width: 450px;
    }

    .team_members h4 {
        font-weight: 500;
        display: block;
    }

    .member_list {
        margin-top: 1rem;
        display: flex;
        align-items: center;
    }

    .member_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        font-size: .8rem;
        font-weight: 300;
    }

    .member_item img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }

    .find_members {
        padding-left: 2rem;
    }

    .team_detail {
        margin: 2rem 0;
    }

    .check_notice {
        margin-top: 1rem;
        background-color: #2b2b2b;
        color: white;
        font-size: .9rem;
        font-weight: 500;
        text-align: center;
        padding: .8rem;
        border-radius: 4px;
        cursor: pointer;
    }

    .check_notice:hover {
        background-color: pink;
        color: #2b2b2b;
    }

    /* 팝업 관련 */
    body {
        position: relative;
    }

    .popup_wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .popup_bg {
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: .5;
        position: relative;
    }

    .popup_window {
        position: absolute;
        width: 1080px;
        height: 580px;
        background-color: white;
        padding: 2rem 1.5rem;
        overflow: scroll;
    }

    .career_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #EFEFEF;
        padding-bottom: 1rem;
    }

    .close_btn {
        color: gray;
        font-size: .9rem;
        cursor: pointer;
    }

    .close_btn i {
        color: gray;
        margin-right: .5rem;
    }

    .career_tab {
        display: flex;
    }

    .tab_left {
        width: 30%;
        max-height: 460px;
        overflow: scroll;
    }

    .tab_left ul li {
        padding: 1rem .5rem;
        border-bottom: 1px solid #EFEFEF;
    }

    .tab_left ul li:hover {
        background-color: #fafafa;
    }

    .tab_left ul li h5 {
        font-weight: 500;
    }

    .tab_left ul li span {
        font-size: .8rem;
        color: gray;
        font-weight: 300;
    }

    .tab_content {
        width: 70%;
        padding: 1rem;
        max-height: 460px;
        overflow: scroll;
    }

    .tab_content img {
        max-width: 100%;
    }

    .hidden {
        display: none;
    }
</style>

{% endblock %}

{% block header_content %}

{% endblock %}

{% block content %}

<div class="team_wrapper">
    <img src="{{team.team_banner.url}}">
    <div class="team_header">
        <div class="name_desc">
            <h2 class="team_name">{{team.name}} <span>({{team.get_purpose_display}})</span></h2>
            <span>{{team.short_description}}</span>
        </div>
    </div>
    <div class="member_and_notice">
        <div class="team_members">
            <h4>현재 팀원 ({{team_org.count}}명)</h4>
            <div class="member_list">
                {% load mptt_tags %}
                {% recursetree team_org %}
                <a href="{% url 'member:member_info' node.user.pk %}" class="member_item">
                    <img src="{{node.user.profile.picture.url}}">
                    <span>{{node.user.profile.name}}</span>
                    <span>({{node.position}})</span>

                </a>
                {% if not node.is_leaf_node %}
                {{ children }}
                {% endif %}
                {% endrecursetree %}
            </div>
        </div>
        <div class="find_members">
            <h4>모집 공고</h4>
            <span>모집중인 공고가 {{team.find_member.all.count}}개 있습니다.</span>
            <h4 class="check_notice career_info" data-team="{{team.id}}">모집공고 확인하기</h4>
        </div>
    </div>

    <div class="team_detail">
        {{team.team_detail|safe}}
    </div>

</div>

<div class="popup_wrapper hidden">
    <div class="popup_bg"></div>
    <div class="popup_window">
        <div class="career_header">
            <div>
                <h4>FindMate팀의 모집공고</h4>
                <span>모집공고가 3개 있습니다.</span>
            </div>
            <span class="close_btn"><i class="far fa-times-circle"></i>닫기</span>
        </div>
        <div class="career_tab">
            <div class="tab_left">
                <ul>
                    <li>
                        <h5>디자이너 구합니다.</h5><span>5명 / 10년 이상</span>
                    </li>
                    <li>
                        <h5>참신한 기획자를 찾아요!</h5><span>5명 / 10년 이상</span>
                    </li>
                    <li>
                        <h5>저희를 구원해줄 투자자 어디없나요</h5><span>5명 / 10년 이상</span>
                    </li>
                </ul>
            </div>
            <div class="tab_content">
                this is content
            </div>
        </div>
    </div>
</div>


<!-- 모집공고 팝업 -->
<script type="text/javascript" src="/static/js/team_notice.js"></script>

{% endblock %}