{% extends "index.html" %}

{% block title %}
{{team.name}}
{% endblock %}

{% block style %}
<style>
    .main_contents {
        background-color: #ffffff;
    }
    .team_wrapper {
        padding: 0rem 2rem;
        width: 1280px;
        margin: auto;
    }
    .team_wrapper > img {
        width: 100%;
    }
    .team_name span {
        font-size: .9rem;
        color: gray;
        font-weight: 300;
    }
    .team_header {
        padding: 1rem 0;
    }
    .name_desc span {
        font-weight: 300;
    }
    .team_members {
        padding: 1rem 0;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        
    }
    .team_members h4 {
        font-weight: 500;
        display: block;
    }
    .member_list {
        margin-top: 1rem;
        display: flex;
        align-items: center;
    }
    .member_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;
        font-size: .8rem;
        font-weight: 300;
    }
    .member_item img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }
    .team_detail {
        margin: 2rem 0;
    }
</style>

{% endblock %}

{% block header_content %}

{% endblock %}

{% block content %}

<div class="team_wrapper">
    <img src="{{team.team_banner.url}}">
    <div class="team_header">
        <div class="name_desc">
            <h2 class="team_name">{{team.name}} <span>({{team.get_purpose_display}})</span></h2>
            <span>{{team.short_description}}</span>
        </div>
    </div>
    <div class="team_members">
        <h4>현재 팀원 ({{team.team_member.count}}명)</h4>
        <div class="member_list">
            {% for member in team.team_member.all %}
            <div class="member_item">
                <img src="https://picsum.photos/200/200">
                <span>{{member.name}}</span>
            </div>
            {% endfor %}
        </div>
        
    </div>
    <div class="team_detail">
        {{team.team_detail|safe}}
    </div>

</div>


{% endblock %}