{% extends "index.html" %}

{% block title %}
팀 찾기
{% endblock %}

{% block style %}
<style>
    .team_box_wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 1280px;;
        margin: auto;
    }
    .team_box {
        margin: 1rem auto 0;
        border: 1px solid #efefef;
        max-width: 400px;
        background-color: white;
        box-shadow: 0px 0px 30px #eee;
    }
    .team_img{
        margin: auto;
        display: block;
        width: 100%;
        height: auto;
    }
    .team_info {
        padding: 1rem;
        display: flex;
        align-items: center;
    }
    .team_info h4 {
        font-size: 1.2em;
        font-weight: 400;
        max-width:280px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; 
        -webkit-box-orient: vertical;
    }
    .team_info span {
        font-size: .9rem;
        font-weight: 300;
    }
    .team_info .team_logo {
        width: 80px;
        height: 80px;
        border: 1px solid #efefef;
        border-radius: 50%;
        margin-right: 1rem;
    }
    .career_info {
        border-top: 1px solid #efefef;
        padding: 1rem;
        font-size: .9rem;
        font-weight: 300;
    }
    .team_name {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .team_desc {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; 
        -webkit-box-orient: vertical;
    }
    span.team_category {
        font-size: .8rem;
        color: gray;
    }
</style>
{% endblock %}

{% block header_content %}

<div class="filter">
    <div class="filter_item_list">
        <span>지역</span>
        <span>직무</span>
        <span>경력</span>
        <span>목적</span>
    </div>
    <div class="create_post">
        <a href="{% url 'core:make_team' %}">새로운 팀 만들기</a>
    </div>
    
</div>

{% endblock %}

{% block content %}

<div class="team_box_wrapper">

    {% for team in teams %}
    <a href="{% url 'core:team_detail' team.pk %}" class="team_box">
        {% if team.team_banner %}
        <img class="team_img" src="{{team.team_banner.url}}">
        {% else %}
        <img class="team_img" src="https://picsum.photos/1280/480">
        {% endif %}
        <div class="team_info">
            {% if team.logo %}
            <img class="team_logo" src="{{team.logo.url}}">
            {% else %}
            <img class="team_logo" src="https://picsum.photos/200/200">
            {% endif %}
            <div>
                <div class="team_name">
                    <h4>{{team.name}}</h4>
                    <span class="team_category">{{team.get_purpose_display}}</span>
                </div>
                <span class='team_desc'>{{team.short_description}}</span>
            </div>
            
        </div>
        {% if team.findmember_set.all %}
        <div class="career_info">
            <span>함께할 {{team.findmember_set.all|length}}개의 포지션을 찾고있어요</span>
        </div>
        {% endif %}
    </a>
    {% endfor %}

</div>
{% endblock %}