{% extends "index.html" %}

{% block title %}
팀원 모집
{% endblock %}

{% block style %}
<style>
    .make_team_wrapper{
        padding: 2rem 1rem;
    }
    .box {
        border:1px solid #efefef;
        background-color: #ffffff;
        box-shadow: 0px 0px 30px #eee;
        width: 1280px;
        margin: auto;
    }
    .form_header {
        border-bottom: 1px solid #efefef;
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .form_header h3 {
        font-weight: 600;
        font-size: 1.2rem;
    }
    .form_header span {
        font-size: .8rem;
        color: gray;
    }
    .form_content {
        padding: 0 2rem;
    }
    .form_control {
        margin: 1rem 0;
    }
    .team_input {
        margin-left: 2rem;
        width: 480px;
        height: 48px;
        border: none;
        border-bottom: 1px solid #efefef;
        padding: .5rem;
        font-size: 1rem;
        font-weight: 300;
        outline: none;
    }
    .form_label {
        font-size: 1rem;
        font-weight: 300;
    }
    .django-ckeditor-widget {
        width: 100%;
        margin-top: 1rem;
    }
    .btn {
        padding: .5rem 2rem;
        color: #ffffff;
        font-size: 1rem;
        font-weight: 300;
        background-color: gray;
    }
    .register_team {
        background-color: #0099cc;
        border: none;
    }
    .form_control select {
        margin-left: 2rem;
        width: 480px;
        height: 48px;
        border: none;
        border-bottom: 1px solid #efefef;
        padding: .5rem;
        font-size: 1rem;
        font-weight: 300;
        outline: none;
    }
    .form_control input[type='file']{
        display:none;
    }
    .upload_label {
        background-color: #0099ee;
        padding: .3rem 1.2rem;
        font-size: .8rem;
        border-radius: 4px;
        color: white;
        margin-left: 2rem;
    }
    .form_control #text {
        display: none;
    }
</style>
{% endblock %}

{% block header_content %}

{% endblock %}

{% block content %}

<div class="make_team_wrapper">

    <div class="form_wrapper box">
        <form method="POST" action="{% if posting_type == 'create' %}{% url 'core:team_recruit' team.pk %}{% else  %}{% url 'core:update_recruit' recruit.pk %}{% endif %}" enctype="multipart/form-data">
            <div class="form_header">
                <div class="header_text">
                    <h3>
                        {% if posting_type == 'create' %}모집공고 만들기{% else %}모집공고 업데이트{% endif %}
                    </h3>
                    <span>훌륭한 팀원을 찾기 위해 신중하게 작성해주세요.</span>
                </div>
                <div class="btn_list">
                    <a class="btn back_to_list" href="javascript:history.back()">돌아가기</a>
                    <input type="submit" class="btn register_team" value="등록하기">
                </div>
            </div>
            <div class="form_content">
                    {% csrf_token %}
                <div class="form_control">
                    <label class="form_label" for="team_name">공고 제목</label>
                    {{form.title}}
                </div>
                <div class="form_control">
                    <label class="form_label" for="team_desc">지원 자격</label>
                    {{form.essencial}}
                </div>
                <div class="form_control">
                    <label class="form_label" for="id_purpose">우대 사항</label>
                    {{form.plus}}
                </div>
                <div class="form_control">
                    <label class="form_label" for="id_purpose">모집 인원</label>
                    {{form.manpower}}
                </div>
                <div class="form_control">
                    <label class="form_label" for="id_purpose">경력 연차</label>
                    {{form.career}}
                </div>
                <div class="form_control">
                    <label class="form_label" for="id_purpose">담당자명</label>
                    {{form.contact_name}}
                </div>
                <div class="form_control">
                    <label class="form_label" for="id_purpose">전화번호</label>
                    {{form.contact_phone}}
                </div>
                <div class="form_control">
                    <label class="form_label" for="id_purpose">메일주소</label>
                    {{form.contact_email}}
                </div>
                <div class="form_control">
                    <h4 class="form_label" class="form_label">모집공고 상세</h4>
                    {{form.media}}
                    {{form.msg|safe}}
                </div>
                
            </div>
        </form>
    </div>

</div>

{% endblock %}